/*** 

====================================================================
    Banner Section
====================================================================

***/

/* Animate 1 */
.owl-carousel{
    .animate-7,
    .animate-6,
    .animate-5,
    .animate-4,
    .animate-3,
    .animate-2,
    .animate-1{
        opacity: 0;
        transform: translateY(100px);
        transition: all 500ms ease;
    }
    .animate-x {
        opacity: 0;
        transform: translateX(100px);
        transition: all 500ms ease;
    }
    
    .active{
        .animate-7,
        .animate-6,
        .animate-5,
        .animate-4,
        .animate-3,
        .animate-2,
        .animate-1 {
            opacity: 1;
            transform: translateY(0);
        }
        .animate-2 {
            transition-delay: 300ms;
        }
        .animate-3 {
            transition-delay: 600ms;
        }
        .animate-4 {
            transition-delay: 900ms;
        }
        .animate-5 {
            transition-delay: 1200ms;
        }
        .animate-6 {
            transition-delay: 1500ms;
        }
        .animate-7 {
            transition-delay: 1800ms;
        }
    }
}

.banner-carousel .owl-nav,
.home2-service-slider .owl-nav,
.home1-service-slider .owl-nav {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 50%;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    transform: translateY(-50%);
    pointer-events: none;
    @include for-md{
        display: none;
    }
    .owl-next,
    .owl-prev {
        display: block;
        margin: 5px 0;
        height: 50px;
        width: 50px;
        color: var(--theme-color1);
        border-radius: 50%;
        background-color: #ffffff;
        font-size: 16px;
        line-height: 50px;
        font-weight: 300;
        text-align: center;
        pointer-events: all;
        transition: all 500ms ease;
        opacity: .7;
        &:hover {
            opacity: 1;
        }
    }
}

/*** 

====================================================================
    Banner Section Two
====================================================================

***/
.banner-section-one{
    position: relative;
    padding: 180px 0 0;
    height: 980px;
    @include media-breakpoint-down(lg){
        height: auto;
        padding: 150px 0 0;
    }
    @include media-breakpoint-down(lg){
        padding: 150px 0 250px;
    }
    .bottom-shape {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 172px;
        background-image: url(../images/main-slider/bottom-shape.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .content-box {
        position: relative;
        z-index: 3;
        .title-box{
            position: relative;
            padding: 50px 45px 40px;
            margin-bottom: 55px;
            @include media-breakpoint-down(md){
                padding-right: 0;
            }
            &:before{
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 200px;
                border: 10px solid var(--theme-color2);
                border-right: 0;
                content: "";
            }
        }
        .sub-title{
            display: block;
            font-size: 12px;
            color: var(--theme-color2);
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: .2em;
            margin-bottom: 16px;
        }
        .title{
            position: relative;
            color: var(--theme-color-light);
            font-size: 72px;
            line-height: 90px;
            font-weight: 700;
            margin-bottom: 0px;
            @include media-breakpoint-down(lg){
                font-size: 60px;
                line-height: 1.2em;
            }
            @include media-breakpoint-down(md){
                font-size: 40px;
                line-height: 1.2em;
            }
        }
        .icon-plane {
            position: absolute;
            left: 50%;
            bottom: 25px;
            margin-left: -160px;
            @include media-breakpoint-down(md){
                display: none;
            }
        }
    }
    .image-box{
        position: absolute;
        left: 50%;
        bottom: 35px;
        margin-right: -505px;
        margin-left: 0;
        @include media-breakpoint-down(xl){
            display: none;
        }
        .image{
            margin-bottom: 0;
            img{
                height: 100%;
            }
        }
    }
}

/*** 

/*** 

====================================================================
  banner section two
====================================================================

***/

.banner-section-two{
    position: relative;
    height: 100vh;
    .slick-prev,
    .slick-next{
        border: 2px solid #808287;
        border-radius: 50%;
        height: 60px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
        width: 60px;
        transition: all 0.3s ease;
        &:hover{
            border-color: var(--theme-color-light);
            color: var(--theme-color-light);
        }
        &:before {
            font-family: 'Font Awesome 6 Pro';
            font-weight: 900;
        }
    }
    .slick-next{
        right: 375px;
        @media (max-width: 1440px){
            right: 50px;
        }
        @include media-breakpoint-down(lg){
            right: 15px;
        }
        &:before {
            content: '\f061';
        }
    }
    .slick-prev{
        left: 375px;
        @media (max-width: 1440px){
            left: 50px;
        }
        @include media-breakpoint-down(lg){
            left: 15px;
        }
        &:before {
            content: '\f060';
        }
    }
    .banner-slider{
        .slick-dots {
            top:50%;
            bottom: auto;
            width: auto;
            transform: translateY(-50%);
            z-index: 99;
            display: flex;
            left: 50px;
            flex-direction: column;
            @include media-breakpoint-down(xl){
                top: auto;
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%);
                flex-direction: row;
            }
            li {
                margin-bottom: 15px;
                padding: 0;
                width: auto;
                height: auto;
                padding-bottom: 5px;
                position: relative;
                @include media-breakpoint-down(xl){
                    margin-bottom: 5px;
                    margin-right: 10px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                button {
                    font-size: 18px;
                    line-height: 18px;
                    color: #fff;
                    opacity: 0.8;
                    font-family: var(--title-font);
                    font-weight: 600;
                    text-transform: uppercase;
                    padding: 0;
                    width: fit-content;
                    height: auto;
                    background: transparent;
                    &:before {
                        display: none;
                    }
                }
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: var(--theme-color1);
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s ease;
                }
                &.slick-active {
                    &:before {
                        opacity: 1;
                        visibility: visible;
                    }
                    button {
                        color: var(--theme-color1);
                    }
                }
            }
        }
        .banner-slide{
            position: relative;
            height: 100%;
            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .outer-box{
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                transform: translateY(-50%);
                @include media-breakpoint-down(xl) {
                    top: 50%;
                }
                @include media-breakpoint-down(lg) {
                    // top: 45%;
                }
                .content-box{
                    margin-top: 7px;
                    max-width: 770px;
                    margin: 0 auto;
                    text-align: center;
                    @include media-breakpoint-down(lg){
                        max-width: 575px;
                    }
                    @include media-breakpoint-down(sm){
                        max-width: 318px;
                    }
                    .sub-title{
                        position: relative;
                        font-size: 18px;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: var(--theme-color2);
                        display: inline-block;
                        margin-bottom: 19px;
                        padding: 12px 34px 12px;
                        background-color: rgba(28, 29, 29, 0.6);
                        @include media-breakpoint-down(md) {
                            font-size: 18px;
                        }
                    }
                    h1{
                        font-size: 84px;
                        position: relative;
                        color: var(--theme-color-light);
                        font-weight: 700;
                        font-family: var(--title-font);
                        line-height: 84px;
                        margin-bottom: 47px;
                        @include media-breakpoint-down(xxl){
                            font-size: 58px;
                            line-height: 70px;
                        }
                        @include media-breakpoint-down(md){
                            font-size: 40px;
                            line-height: 50px;
                        }
                        span{
                            color: var(--theme-color1);
                        }
                    }
                    .btn-box{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include media-breakpoint-down(sm){
                            flex-direction: column;
                        }
                        .theme-btn{
                            background-color: var(--theme-color2);
                            border-radius: 30px;
                            font-size: 14px;
                            font-weight: 700;
                            color: var(--theme-color-dark);
                            text-transform: capitalize;
                            display: inline-block;
                            padding: 0 39px;
                            height: 50px;
                            line-height: 50px;
                            font-family: var(--text-font);
                            margin-right: 50px;
                            @include media-breakpoint-down(sm){
                                font-size: 16px;
                                margin-bottom: 40px;
                                margin-right: 0;
                            }
                            &:hover{
                                color: var(--theme-color-light);
                            }
                        }
                        .inner-box{
                            display: flex;
                            align-items: center;
                            .play-now{
                                display: inline-block;
                                i{
                                    height: 40px;
                                    width: 40px;
                                    line-height: 40px;
                                    text-align: center;
                                    background-color: var(--theme-color-light);
                                    color: var(--theme-color-dark);
                                    font-size: 12px;
                                }
                                .ripple{
                                    &::before{
                                        width: 40px;
                                        height: 40px;
                                    }
                                    &::after{
                                        width: 40px;
                                        height: 40px;
                                    }
                                }
                            }
                            .title{
                                margin-bottom: 0;
                                color: var(--theme-color-light);
                                font-size: 14px;
                                font-weight: 800;
                                text-transform: uppercase;
                                font-family: var(--text-font);
                                margin-left: 31px;
                            }
                        }
                    }
                }
            }
        }
    }
    .banner-slider,
    .banner-slider .slick-track,
    .banner-slider .slick-list {  
        height: 100%;
    }
}

@media only screen and (max-width:480px) {
    .banner-section-two .slick-prev{display: none !important;}
    .banner-section-two .slick-next{display: none !important;}
    .banner-section-two .banner-slider .banner-slide .outer-box .content-box h1{font-size: 34px;line-height: 40px;}
}